<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <div>
                <label>Email :</label>
                <input type="text" name="user_email" required>
            </div>
            <div>
                <label>Mot de passe :</label>
                <input type="password" name="user_pass" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
   
</body>
</html>